<div class="contenedor">
  <div class="contenedor__cards">
    <div class="card">
      <!-- Bloque -->
      <a href="#" class="card__thumbnail">
        <img
          class="card__img"
          src="https://upload.wikimedia.org/wikipedia/en/5/5b/Kavinsky_Nightcall_2010.png"
          alt=""
        />
      </a>
      <div class="card__textos">
        <h3 class="card__titulo">
          <a href="#" class="card__enlace">Lorem Ipsum Dolot Asimet</a>
        </h3>
        <p class="card__extracto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          aliquet ornare ex, eget varius velit fringilla quis. Curabitur
          pellentesque lectus et arcu commodo efficitur.
        </p>

        <a href="#" class="boton boton--absolute">
          <!-- Bloque -->
          <span class="boton__texto">Ver Mas</span>
          <i class="boton__icono fas fa-arrow-right"></i>
        </a>
      </div>
    </div>

    <div class="card">
      <!-- Bloque -->
      <a href="#" class="card__thumbnail">
        <img
          class="card__img"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaVsdaB642sFKB1ieqzqfpldXh5iXHcxvecA&usqp=CAU"
          alt=""
        />
      </a>
      <div class="card__textos">
        <h3 class="card__titulo">
          <a href="#" class="card__enlace">Lorem Ipsum Dolot Asimet</a>
        </h3>
        <p class="card__extracto">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
          aliquet ornare ex, eget varius velit fringilla quis. Curabitur
          pellentesque lectus et arcu commodo efficitur.
        </p>

        <a href="#" class="boton boton--absolute">
          <!-- Bloque -->
          <span class="boton__texto">Ver Mas</span>
          <i class="boton__icono fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="frase">
    <!-- Bloque -->
    <h2 class="frase__texto">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </h2>
    <a href="#" role="button" class="boton boton--verde">
      <span class="boton__texto">Comprar</span>
      <i class="fas fa-shopping-cart"></i>
    </a>
  </div>
</div>
